/*
body 
{
background-color: #C0FDFF;
color: #474d57; 
background-image: url('https://image.freepik.com/free-photo/black-brick-wall-textured-background_53876-63572.jpg');
background-attachment: fixed;
background-repeat: repeat;
background-position: center;
align-self: center;
margin: 0%;
}
*/
h2
{
color: #445364;
}

.column21_1 h2,.column21_2 h2
{
color: #3a172b;
}
.column21_1,.column21_2
{
color: #66294b;
}

.container
{
margin-right: 15%;
margin-left: 15%;
font-size: 30px;
}
/*
header
{
width: 80%;
height:auto;
margin-right: 10%;
margin-left: 10%;
background-image: url("https://image.freepik.com/free-vector/abstract-circle-background-with-glowing-lines_112380-65.jpg");
background-attachment:unset;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: fixed;
top: 0;
z-index: 1;
border-radius: 10px;
overflow: hidden;
}
*/

header a
{
float: left;
color: black;
text-align: left;
padding: 12px;
text-decoration: none;
font-size: 20px; 
line-height: 25px;
border-radius: 4px;
}

header #logo 
{
font-size: 35px;
font-weight: bold;
transition: 0.4s;
width: 20%;
}
*/
#navbar-right ul 
{
display: block;
list-style-type: none;
margin: 0;
padding: 0;
overflow: visible;
}

#navbar-right li 
{
display: inline;
float: left;
}

#navbar-right li a 
{
color: #b7e4c7;
text-align: center;
text-decoration: none;
}

#navbar-right li a:hover:not(.active) 
{
background-color: #1b433299;
}

#navbar-right .active 
{
background-color: #1e609199;
}
*/
#navbar-right
{
float: right;
padding-top: 5%;
padding-right: 10%;
}
/*

.dropdown 
{
position: relative;
display: inline-block;
}

.editorial img
{
float: left;
}
.dropdown-content 
{
margin-top: 2%;
display: none;
position: absolute;
min-width: 160px;
z-index: 2;
text-align: left;
}

.dropdown:hover .dropdown-content 
{
display: block;
background: #00000066;
margin-top:10%;
}

.column111 
{
float: left;
width: 30%;
padding: 10px;
}

.container
{
width: 80%;
margin-right: 10%;
margin-left: 10%;
margin-top: 18%;
background-image: url('https://image.freepik.com/free-photo/empty-wooden-table-with-smoke-float-up-dark-background_68495-135.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
font-size: 30px;
}

.responsive-iframe 
{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}

.youtube 
{
margin: 10px;
position: relative;
overflow: hidden;
width: 100%;
padding-top: 56.25%;
}

.column21_2
{
float: left;
width: 60%;
padding: 10px;
}

.column21_1
{
float: left;
width: 30%;
padding: 10px;
}

.column_p
{
margin-left: 5px;
}

.photo_series
{
display: inline-flex;
overflow: scroll;
width: 100%;
}

.photo_series::-webkit-scrollbar
{
display: none;
}

.column1111 
{
float: left;
width: 20%;
padding: 2.5%;
text-align: start;
color: #3F5BCA;
}

.editorial
{
width: 95%;
margin-top: 5%;
margin-left: 2.5%;
margin-right: 2.5%;
overflow: hidden;
}

p.editorial
{
margin-top: 2%;
width: 100%;
float: right;
}
.box
{
background-color: #616161af;
margin:0%;
width: 100%;
}

input[type=text] 
{
position: relative;
width: 130px;
box-sizing: border-box;
border: 2px solid #000;
border-radius: 40px;
font-size: 16px;
background-color: #fff;
padding: 12px 20px 12px 40px;
-webkit-transition: width 2s ease-in-out;
transition: width 2s cubic-bezier(0.9, -0.54, 0, 1.18);
overflow: visible;
float:left;
}

input[type=text]:focus {
width: 80%;
}

footer
{
background-color: #0d1e2baf;
overflow: hidden;
width: 100%;
font-size: 20px;
}

.box0
{
text-align: center;
color: #A04075;
background-color: #3A172B55;
width: 100%;
overflow: hidden;
margin-bottom: 63px;
}

.bottom-fixed
{

position: fixed;
width: 100%;
margin: 0;
bottom: 0;
left: 0;
text-align: center;
z-index: 1000;
background: #fff;
padding: 6px 0;
box-shadow: 0 0 3px;
background: rgba(0, 0, 0, 0.7);
display: inline-block;
}

.responsive1 
{
width: 80%;
height: auto;
border-radius: 7px;
}

.responsive
{
position: relative;
top: 0;
height: 200px;
margin: 0;
}

.responsive2
{
margin-right: 15px;
height: 170px;
}

.logo
{
height: 25px;
border-radius: 30%;
}
@media screen and (max-width: 1800px)
{
.container
{
margin-top: 22%;
}
}

@media screen and (max-width: 1080px)
{
#navbar-right 
{
display: block;
float: right;
padding-top: 2.5%;
padding-right: 7%;
}

header #logo h1
{
font-size: 35px;
}

header a
{
font-size: 16px;
}


input[type=text] 
{
width: 75px;
font-size: 10px;
padding: 8px 10px 8px 20px;
}


.container
{
margin-top: 26%;
font-size: 30px;
}
 
footer
{
font-size: 22px;
}

.responsive
{
height: 225px;
}

.column111,.column21_1,.column21_2
{
width: 95%;
}

.responsive2
{
margin-right: 10px;
height: 130px;
}

.logo
{
height: 20px;
}
}

@media screen and (max-width: 600px )
{
header
{
position: absolute;
}

header #logo h1
{
font-size: 30px;
}

header a 
{
font-size: 12px;
}

.container
{
font-size: 25px;
}

footer
{
font-size: 18px;
}

.responsive
{
height: 150px;
}

.responsive2
{
margin-right: 7px;
height: 80px;
}

.logo
{
height: 15px;
}

}

@media screen and (max-width: 510px) 
{
input[type=text] 
{
width: 60px;
font-size: 10px;
padding: 4px 6.5px 4px 12px;
}

#navbar-right 
{
float: right;
padding-top: 1.5%;
padding-right: 5%;
}
header #logo h1
{
font-size: 25px;
}

header a 
{
font-size: 10px;
}

.container
{
margin-top: 30%;
font-size: 20px;
}

footer
{
font-size: 14px;
}

.responsive
{
height: 100px;
}

.responsive2
{
margin-right: 4px;
height: 40px;
}

.logo
{
height: 10px;
}
}

@media screen and (max-width: 370px) 
{
.container
{
margin-top: 65%;
}
}
*/
